.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 100px repeat(2,200px) 100px;
  grid-template-areas:
    'header header header header'
    'content content content nav'
    'content content content nav'
    'footer footer footer footer';
}

.header {
  background-color: #f7d794;
  grid-area: header;
}

.content {
  background-color: #f8a5c2;
  grid-area: content;
}

.nav {
  background-color: #63cdda;
  grid-area: nav;
}

.footer {
  background-color: #ea8685;
  grid-area: footer;
}
