.grid {
  display: grid;
  grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [fourth-line] 100px [fifth-line];
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.header {
  background-color: #f7d794;
  grid-column: span 4;
}

.content {
  background-color: #f8a5c2;
  grid-column: first-line / fourth-line;
  grid-row: span 2;
}

.nav {
  background-color: #63cdda;
  grid-row: span 2;
}

.footer {
  background-color: #ea8685;
  grid-column: span 4;
}
